.aboutBanner {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  /* background-color: rgba(235, 235, 235, 0.8); */
}

.aboutBanner::after {
  content: "";
  background-image: url("/about-banner.jpg");
  /* opacity: 0.3; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
